@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap') * {

    margin: 0;
    padding: 0;
    background-color: #ffffff;
    list-style: none;
    text-decoration: none;
}



body {
    background-color: rgb(194, 246, 192);
    padding: 0;
    margin: 20px;
    right: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: beige (240, 240, 32);
}

header {
margin-top: 20px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

li {
    margin-top: 8px;
    list-style: none;
    color: rgb(80, 159, 228);
    cursor: pointer;
    font-size: 18px;
    transition: .5s;
    font-family: 'kdam Thmor Pro', sans-serif;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 4px;

}

li:hover {
    color: #D21617;
}

.principal {
    font-size: 30px;
    text-align: center;
    color: blue
    (209, 75, 13)
}

.titulo {
    font-size: 30px;
    text-align: left;
    margin-right: 120px;
    color: rgb(216, 100, 23)
}



.logo {
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 150px;
    border: 2px solid black;
    border-radius: 6px
}

 
.text1 {
    width: 300px;
    margin-left: 6px;
    margin-top:10px;
    text-align: left;
 }
 .text2 {
    width: 300px;
    margin-left: 10px;
    margin-top: 4px;
    text-align: left;
 }

 .text3 {
    width: 300px;
    margin-left: 20px;
    margin-top: 4px;
    text-align: left;
 }

 .text4 {
    width: 300px;
    margin-left: 19px;
    margin-top: 10px;
    text-align: right;
 }

 .text5 {
    width: 300px;
    margin-left: 17px;
    margin-top: 4px;
    text-align: right;
 }

 .text6 {
    width: 300px;
    margin-left: 09px;
    margin-top: 1px;
    text-align: right;
 }

 .button {
    padding: 10px;
    margin-top: 20px;
 }







